.facts {
  padding-top: 180px;
  padding-bottom: 360px;
  background-image: url("../img/facts-bg.png");
  background-position: -7px -349px;
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 60px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 736px;
    gap: 48px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @media (max-width: (360px)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 148px;
    height: 148px;
  }

  &__value {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__ico {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  &__caption {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-black);
  }
}