/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*stylelint-disable*/
:root {
  --font-family: "Ubuntu", sans-serif;
  --container-offset: 15px;
  --container-width: 1260px;
  --section-offset: 120px;
  --advantages-gap: 188px;
  --shadow-main:
    0 80px 80px -20px rgba(154 156 165 / 8%),
    0 30px 24px -10px rgba(154 156 165 / 5%),
    0 12px 10px -6px rgba(154 156 165 / 4%),
    0 4px 4px -4px rgba(30 33 44 / 3%);
  --color-white: #fff;
  --color-black: #1e212c;
  --color-outer-space: #424551;
  --color-primary: #ff5a30;
  --color-primary-active: #fc3300;
  --color-storm: #787a80;
  --color-light-gray: #f4f5f6;
  --color-iron: #d7dadd;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-family: inherit;
  caret-color: var(--color-black);
  background-color: transparent;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.btn-reset {
  display: block;
  border: none;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  cursor: pointer;
}

.btn-solid {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-primary);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .btn-solid:hover {
    background-color: var(--color-primary-active);
  }
}

.btn-transparent {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .btn-transparent:hover {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-black);
}
.title_center {
  text-align: center;
}

.descr {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);
}
.descr_center {
  text-align: center;
}

.video-wrapper {
  position: relative;
  height: 500px;
}
.video-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  display: block;
  border-radius: 4px;
  background-color: rgba(30, 33, 44, 0.6);
  -webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}
.video-wrapper_played::after {
  opacity: 0;
  visibility: hidden;
}
.video-wrapper__content {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-wrapper__btn {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  -webkit-transition: background-color 0.25s ease-in-out, border-radius 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, border-radius 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, border-radius 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .video-wrapper__btn:hover {
    background-color: var(--color-primary-active);
  }
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.field__caption {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-outer-space);
}
.field__input {
  display: block;
  border: 1px solid var(--color-iron);
  border-radius: 4px;
  padding-left: 16px;
  width: 100%;
  height: 44px;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-black);
  background-color: var(--color-light-gray);
}
.field__input::-webkit-input-placeholder {
  color: var(--color-outer-space);
}
.field__input::-moz-placeholder {
  color: var(--color-outer-space);
}
.field__input:-ms-input-placeholder {
  color: var(--color-outer-space);
}
.field__input::-ms-input-placeholder {
  color: var(--color-outer-space);
}
.field__input::placeholder {
  color: var(--color-outer-space);
}
.field__input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.more-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.more-information__caption {
  margin-right: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--color-black);
}
.more-information__btn {
  padding: 0 40px;
  font-size: 16px;
  line-height: 52px;
}

.work-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  max-height: 440px;
  -webkit-box-shadow: 0 30px 40px -25px rgba(0, 0, 0, 0.08);
  box-shadow: 0 30px 40px -25px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.work-item__img {
  display: block;
  border-radius: 4px 4px 0 0;
}
.work-item__content {
  padding: 15px 10px 0;
  background-color: var(--color-white);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.work-item__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-black);
}
.work-item__descr {
  display: block;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}
.work-item__btn {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 171px;
  font-size: 14px;
  line-height: 43px;
  cursor: pointer;
}
@media (any-hover: hover) {
  .work-item:hover .work-item__content {
    -webkit-transform: translateY(-68px);
    -ms-transform: translateY(-68px);
    transform: translateY(-68px);
  }
}

.header {
  padding: 22px 0;
  background-color: var(--color-white);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav {
  margin-left: -114px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-outer-space);
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__nav-item:not(:last-child) {
  margin-right: 40px;
}
@media (any-hover: hover) {
  .header__nav-link:hover {
    color: var(--color-primary);
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 52px;
  background-position: left center;
  background-repeat: no-repeat;
}
.header__contacts-item_phone {
  background-image: url("../img/svg/phone.svg");
}
.header__contacts-item_mail {
  background-image: url("../img/svg/chat.svg");
}
.header__contacts-item:not(:last-child) {
  margin-right: 36px;
}
.header__contacts-caption {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-outer-space);
}
.header__contacts-value {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-black);
}

.main-first {
  padding-top: 220px;
  padding-bottom: 353px;
  background-image: url("../img/hero-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-first__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
}
.main-first__title span {
  color: var(--color-primary);
}
.main-first__descr {
  margin: 0;
  margin-bottom: 61px;
  max-width: 600px;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-white);
}
.main-first__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-first__btn {
  padding: 0 40px;
  line-height: 50.5px;
}
.main-first__btn_transparent {
  border-color: var(--color-white);
  color: var(--color-white);
}
.main-first__btn:not(:last-child) {
  margin-right: 24px;
}

.about-section {
  padding-top: var(--section-offset);
}
.about-section__title {
  margin-bottom: 24px;
}
.about-section__descr {
  margin-bottom: 60px;
}

.advantages {
  padding-top: 180px;
}
.advantages__title {
  margin-bottom: 24px;
}
.advantages__descr {
  margin-bottom: 60px;
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 28px;
  gap: var(--advantages-gap);
}
.advantages__item {
  position: relative;
  padding-top: 72px;
  text-align: center;
  background-position: top center;
  background-size: 48px 48px;
  background-repeat: no-repeat;
}
.advantages__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: calc(-1 * var(--advantages-gap) / 2);
  top: 0;
  bottom: 0;
  display: block;
  width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 219, 221, 0)), color-stop(20%, rgba(218, 219, 221, 0.5)), color-stop(50%, rgb(218, 219, 221)), color-stop(80%, rgba(218, 219, 221, 0.5)), to(rgba(218, 219, 221, 0)));
  background: -o-linear-gradient(top, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 20%, rgb(218, 219, 221) 50%, rgba(218, 219, 221, 0.5) 80%, rgba(218, 219, 221, 0) 100%);
  background: linear-gradient(180deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 20%, rgb(218, 219, 221) 50%, rgba(218, 219, 221, 0.5) 80%, rgba(218, 219, 221, 0) 100%);
}
.advantages__item_quality {
  background-image: url("../img/svg/like.svg");
}
.advantages__item_safety {
  background-image: url("../img/svg/hand.svg");
}
.advantages__item_comfort {
  background-image: url("../img/svg/slippers.svg");
}
.advantages__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-black);
}
.advantages__item-descr {
  margin: 0;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-storm);
}
.advantages__form {
  position: relative;
  top: 93px;
  padding: 47.5px 60px;
  -webkit-box-shadow: var(--shadow-main);
  box-shadow: var(--shadow-main);
  background-color: var(--color-white);
}
.advantages__form-title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--color-black);
}
.advantages__form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.advantages__form-field {
  margin-right: 24px;
  width: 100%;
  max-width: 414px;
}
.advantages__form-field_big {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.advantages__form-btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 104px;
  height: 45px;
}

.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("../img/services-section-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section__title {
  margin-bottom: 24px;
}
.services-section__descr {
  margin-bottom: 61px;
}
.services-section__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 80px;
  gap: 30px;
}
.services-section__link {
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 10px;
  height: 285px;
  color: var(--color-black);
  fill: var(--color-primary);
  background-color: var(--color-white);
  -webkit-transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;
}
.services-section__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: block;
  border-radius: 4px;
  background-color: rgba(30, 33, 44, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.services-section__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  border-radius: 4px;
  background-image: url("../img/interior-design.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .services-section__link:hover {
    color: var(--color-white);
    fill: currentcolor;
  }
  .services-section__link:hover::before {
    opacity: 1;
  }
  .services-section__link:hover::after {
    opacity: 1;
  }
}
.services-section__content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.services-section__ico {
  margin-bottom: 24px;
  width: 52px;
  height: 52px;
  fill: inherit;
}
.services-section__name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

.work-section {
  padding: var(--section-offset) 0;
}
.work-section__header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}
.work-section__title {
  max-width: 705px;
}
.work-section__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.work-section__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  fill: var(--color-black);
  background-color: var(--color-white);
  -webkit-transition: background-color 0.25s ease-in-out, fill 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, fill 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, fill 0.25s ease-in-out;
}
.work-section__nav-btn:not(:last-child) {
  margin-right: 10px;
}
.work-section__nav-btn.swiper-button-disabled {
  pointer-events: none !important;
  /*stylelint-disable-line*/
  fill: var(--color-storm) !important;
  /*stylelint-disable-line*/
}
@media (any-hover: hover) {
  .work-section__nav-btn:hover {
    fill: var(--color-white);
    background-color: var(--color-primary);
  }
}
.work-section__ico {
  width: 24px;
  height: 24px;
  fill: inherit;
}
.work-section__slider {
  margin: -30px;
  margin-bottom: 50px;
  padding: 30px;
}

.partners {
  padding-top: 81px;
  padding-bottom: 110px;
  background-color: var(--color-light-gray);
}
.partners__title {
  margin-bottom: 60px;
}
.partners__list {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 102px;
  -moz-column-gap: 102px;
  column-gap: 102px;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  row-gap: 40px;
}
.partners__item {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  -ms-grid-row-span: 1;
  grid-row: 1 span;
}
.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  padding-top: 70px;
  background-color: var(--color-light-gray);
}
.reviews__title {
  margin-bottom: 60px;
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.reviews__slider {
  position: relative;
  margin: 0;
  margin-right: 15px;
  max-width: 600px;
}
.reviews__item {
  width: 100%;
}
.reviews__item-img {
  display: block;
  margin-bottom: 23px;
}
.reviews__item-text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 163%;
  color: var(--color-outer-space);
}
.reviews__item-autor {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-black);
}
.reviews__item-position {
  display: block;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}
.reviews__nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  fill: var(--color-black);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: fill 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -o-transition: fill 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
.reviews__nav-btn:not(:last-child) {
  margin-right: 10px;
}
.reviews__nav-btn.swiper-button-disabled {
  fill: var(--color-storm);
  pointer-events: none;
}
@media (any-hover: hover) {
  .reviews__nav-btn:hover {
    fill: var(--color-white);
    background-color: var(--color-primary);
  }
}
.reviews__nav-ico {
  width: 24px;
  height: 24px;
  fill: inherit;
}
.reviews__img {
  position: relative;
  top: -120px;
  display: block;
  margin-bottom: -180px;
  border-radius: 4px;
}

.facts {
  padding-top: 180px;
  padding-bottom: 360px;
  background-image: url("../img/facts-bg.png");
  background-position: -7px -349px;
  background-repeat: no-repeat;
}
.facts__title {
  margin-bottom: 60px;
}
.facts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 736px;
  gap: 48px;
}
.facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.facts__progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 148px;
  height: 148px;
}
.facts__value {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--color-black);
}
.facts__ico {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.facts__caption {
  display: block;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-black);
}