/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*stylelint-disable*/
:root {
  --font-family: "Ubuntu", sans-serif;
  --container-offset: 15px;
  --container-width: 1260px;
  --color-white: #fff;
  --color-black: #1e212c;
  --color-outer-space: #424551;
  --color-primary: #ff5a30;
  --color-primary-active: #fc3300;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.btn-reset {
  display: block;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  cursor: pointer;
}

.btn-solid {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-primary);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .btn-solid:hover {
    background-color: var(--color-primary-active);
  }
}

.btn-transparent {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, border-color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .btn-transparent:hover {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.header {
  padding: 22px 0;
  background-color: var(--color-white);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav {
  margin-left: -114px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-outer-space);
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__nav-item:not(:last-child) {
  margin-right: 40px;
}
@media (any-hover: hover) {
  .header__nav-link:hover {
    color: var(--color-primary);
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 52px;
  background-position: left center;
  background-repeat: no-repeat;
}
.header__contacts-item_phone {
  background-image: url("../img/svg/phone.svg");
}
.header__contacts-item_mail {
  background-image: url("../img/svg/chat.svg");
}
.header__contacts-item:not(:last-child) {
  margin-right: 36px;
}
.header__contacts-caption {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-outer-space);
}
.header__contacts-value {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-black);
}

.main-first {
  padding-top: 220px;
  padding-bottom: 353px;
  background-image: url("../img/hero-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-first__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
}
.main-first__title span {
  color: var(--color-primary);
}
.main-first__descr {
  margin: 0;
  margin-bottom: 61px;
  max-width: 600px;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-white);
}
.main-first__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-first__btn {
  padding: 0 40px;
  line-height: 50.5px;
}
.main-first__btn_transparent {
  border-color: var(--color-white);
  color: var(--color-white);
}
.main-first__btn:not(:last-child) {
  margin-right: 24px;
}